<!DOCTYPE html>
<html>
<head>
    <title>Family Tree Maker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Include GoJS Library -->
    <script src="https://unpkg.com/gojs/release/go.js"></script>
</head>
<body>
    <!-- wraps both the sidebar and the goJS diagram-->
    <div id="wrapper">
        <!-- contains all the sidebar content (left 1/3 of webpage)-->
        <div id="sidebar">
            <div id = "sidebar-header">
                <h1>Family Tree Maker</h1>
            </div>
            <div id="sidebar-instructions">
                <h2>Instructions:</h2>
                <h3>1. Each box represents one person. Click on a box to view and edit details of the person.</h3>
                <h3>2. You can add/edit parents, children, or siblings to each person.</h3>
                <h3>3. You can delete people off the tree if they are on the outer edge.</h3>
            </div>
            <div id="node-details">
            </div>
            <div id="edit-person-form" style="display:none;">
                <h4>Edit this person</h4>
                <form>
                    <div>
                        <label>Rename: </label>
                        <input type="text" id="person-name">
                    </div>
                    <div>
                        <label>Gender:</label>
                        <input type="text" id="person-gender">
                    </div>
                    <div>
                        <label>Birth Date:</label>
                        <input type="date" id="person-birth-date">
                    </div>
                    <div>
                        <label>Death Date:</label>
                        <input type="date" id="person-death-date">
                    </div>
                    <div>
                        <label>Photo URL:</label>
                        <input type="text" id="person-photo-url">
                    </div>
                    <button type="submit">Submit</button>
                    <button type="button" onclick="closeEditNodeForm()">Cancel</button>
                </form>
            </div>
            <div id="add-relative-form" style="display:none;">
                <h4>Add Relative Form</h4>
                <form>
                    <input type="hidden" id="node-id">
                    <div>
                        <label>Relationship:</label>
                        <button type="button" class='relationship-button' onclick="setRelationship('Father', this)">Father</button>
                        <button type="button" class='relationship-button' onclick="setRelationship('Mother', this)">Mother</button>
                        <button type="button" class='relationship-button' onclick="setRelationship('Child', this)">Child</button>
                    </div>
                    <div>
                        <label>Name:</label>
                        <input type="text" id="relative-name">
                    </div>
                    <div>
                        <label>Gender:</label>
                        <button type="button" class='gender-button' onclick="setGender('Male', this)">Male</button>
                        <button type="button" class='gender-button' onclick="setGender('Female', this)">Female</button>
                    </div>
                    <div>
                        <label>Birth Date:</label>
                        <input type="date" id="relative-birth-date">
                    </div>
                    <div>
                        <label>Death Date:</label>
                        <input type="date" id="relative-death-date">
                    </div>
                    <div>
                        <label>Photo URL:</label>
                        <input type="text" id="relative-photo-url">
                    </div>
                    <input type="hidden" id="relationship">
                    <input type="hidden" id="relative-gender">
                    <button type="submit">Add Relative</button>
                    <button type="button" onclick="closeRelativeForm()">Cancel</button>
                </form>
            </div>
        </div>
        <!-- container for the goJS diagram -->
        <div id="family-tree-container"></div>
    </div>
    <!-- Reference to your custom script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
